.btn-ghost {
    color: $gray;
    border: 1px solid $gray;
    padding: 5px;
    margin-top: 10px;;
    border-radius: 5px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

.btn-ghost:hover {
  color: $light-gray;
  background-color: $gray;
  opacity: 1;
}